= simple_form_for @user, :html => {:class => 'form-horizontal'} do |f|
  %legend= t('authorization.sign_up')

  = f.input :email, :type => 'email', :placeholder => 'user@example.com'
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit
