%ul.media-list
  - if comments.empty?
    %li.media.text-center
      = glyph 'user-md'
      No comments yet =/
  -else
    - comments.each do |comment|
      %li.media
        .pull-left= glyph 'comment'
        .media-body
          .media-heading
            .pull-right= comment.created_at_in_words
            %strong= comment.author_email
            wrote:
          = comment
