%h2= t('story_list')
= link_to t('create_story'), new_story_path, :class => 'btn btn-primary'
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= t('story_name')
      %th= t('story_owner')
      %th= t('story_description')
      %th
  %tbody
    - @stories.each do |story|
      %tr
        %td= story.name
        %td= story.user.try(:email)
        %td= truncate(story.description, :length => 80)
        %td= link_to t('show'), story