%legend
  = @story.name
  %small
    = link_to icon('icon-edit'), edit_story_path(@story), :class => 'btn btn-mini'
    = link_to icon('icon-trash'), @story, :method => :delete, :data => {:confirm => t('shared.r_u_sure')}, :class => 'btn btn-mini btn-danger'

%ul.inline
  %li
    = succeed ':' do
      = t('story.performer')
    %strong= @story.performer.try(:email) || t('shared.unknown')
  %li
    = succeed ':' do
      = t('story.owner')
    %strong= @story.owner.try(:email) || t('shared.unknown')
  %li
    = succeed ':' do
      = t('shared.created_at')
    %strong= l @story.created_at, :format => :long

%p.well.well-small= @story.description


= link_to t('shared.left_arrow_html') + t('story.list'), stories_path