%legend= t('authorization.sign_in')

= simple_form_for @type, :url => sessions_path, :class => 'form-horizontal' do |f|
  = f.input :email
  = f.input :password
  = f.button :submit
  or
  = link_to t('authorization.sign_up'), new_user_path
