%h2= t('story.list')

.row-fluid
  .span6
    = link_to t('story.create'), new_story_path, :class => 'btn btn-primary'
  .span6
    .pull-right
      = render 'filter_form'

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= sort_link @q, :name
      %th= sort_link @q, :state
      %th= sort_link @q, :owner
      %th= sort_link @q, :performer
      %th= sort_link @q, :description
  %tbody
    - @stories.each do |story|
      %tr
        %td= link_to story.name, story
        %td= story.human_state_name
        %td= story.owner.try(:email) || t('shared.unknown')
        %td= story.performer.try(:email) || t('shared.unknown')
        %td= truncate(story.description, :length => 80)
