%legend
  .pull-right
    %small
      = link_to glyph('edit'), edit_story_path(@story), :class => 'btn btn-mini'
      = link_to glyph('trash'), @story, :method => :delete, :data => {:confirm => t('shared.r_u_sure')}, :class => 'btn btn-mini btn-danger'
  = link_to t('shared.left_arrow_html'), stories_path
  = @story.name

%ul.inline
  %li
    = succeed ':' do
      = t('story.state')
    %span.label.label-info
      = @story.human_state_name
  %li
    = succeed ':' do
      = t('story.performer')
    %strong= @story.performer_email
  %li
    = succeed ':' do
      = t('story.owner')
    %strong= @story.owner_email
  %li
    = succeed ':' do
      = t('shared.created_at')
    %strong= l @story.created_at, :format => :long

%p.well.well-small= @story.description

= link_to t('shared.left_arrow_html') + t('story.list'), stories_path

%legend= t('story.comments')
= render 'web/stories/comments/index', :comments => @story.comments.decorate
%hr
= render 'web/stories/comments/form', :story => @story, :comment => @comment
